# Virtual Environment
bin/
include/
lib/
lib64/
share/
pyvenv.cfg

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/

# Output files (optional)
sample_output/*.json